body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  color: #252525;
  background-color: blanchedalmond;
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
}