@import "base_styles/reset";
@import "base_styles/base";

$h1-color: #252525;

h1 {
  color: $h1-color;
  user-select: none;
  text-align: center;
  font-size: 3em;
  margin: 25px 0;
  font-weight: 700;
  font-family: sans-serif;
}

p {
  font-size: 1.3em;
}

.cat-image {
  width: 100%;
  max-width: 450px;
  height: auto;
}